@model dynamic

@{
    Layout = null;
}

<form action="SaveFilePost" method="post" enctype="multipart/form-data">

    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />

    <input type="submit" />
</form>