@model System.Collections.Generic.List<blog.Models.Standard>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Standardy</title>
</head>
<body>
<div>
    <div class="page-header">
        <h1>
            header<small>subtext</small>
        </h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-3 col-md-6 col-sm-offset-3">
                <div class="well well-sm">
                    @foreach (var standard in Model)
                    {
                        <p> Standard: @standard.StandardName</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Date of Birth</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var student in standard.Students)
                                {
                                    <tr>
                                        <td>@student.StudentID</td>
                                        <td>@student.StudentName</td>
                                        <td>@student.DateOfBirth</td>
                                    </tr>
                                }
                   
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>